.login-form {
  min-width: 50px;
  max-width: 700px;
  width: 100%;
}
.mat-form-field{
  border-radius: 0.5em;
}
.mat-form-field-flex {

}
.login-full-width {
  width: 100%;
}
body{
  background: url('https://images.pexels.com/photos/34578/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');}
.auth-form{
  background-color: #eeeeee;
  border-radius: 0.5em;
  padding: 4em;
  display: inline-block;

  width: 30%;
  min-width: 20%;
}
form{
 align-items: center;
}
.auth-form input, .auth-form textarea{
align-self: center;
}
.auth-form button{
  max-width: 50%;
  height: 40%;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #1976d2;
  font-weight: bold;
  color: #e6ebf1;
  margin: 0.5em;
}

.auth-form button:hover{
  background-color: #125699;
}
.auth-form h1{

  margin-bottom: 0.7em;
  color: #125699;
}
.auth-form.redir{
  font-weight: lighter;
}

.mat-typography{
  margin: 0;
}
.form-full-width{
  display: block;
  width: 70%;
  align-items: center;
}
